@import "tailwindcss";

:root {
  --primary: #007190;
  --primary-hover: #005C75;

  --secondary: #099197;
  --secondary-hover: #07797E;

  --background: #D7D0C8;
  --surface: #F0F7EE;

  --foreground: #14323D;
  --border: #C4BCB3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}